@import '../../mixins.scss';

.city-weather {
    text-decoration: none;
    margin-bottom: 10px;
    &__block {
        height: 150px;
        width: 100%;
        color: black;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 7px 10px grey;
        transition: background-color 0.2s ease-in-out;
        @include mobile {
			height: 100px;
			padding: 10px;
		}
        & * {
            margin-right: 15px;
            @include mobile {
                margin-right: 10px;
            }
        }
        &:hover {
            background-color: #AFAFAE;
        }
    }
    &__header {
        font-size: 20px;
        @include mobile {
			font-size: 18px;
		}
    }
    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__weather-icon {
        width: 80px;
        @include mobile {
			width: 50px;
		}
    }
    &__temperature {
        color: rgb(20, 132, 223);
        font-size: 30px;
        @include mobile {
			font-size: 25px;
		}
    }
}