@import '../../mixins.scss';

.city-weather-details {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.445);
    & * {
        padding: 5px;
    }
    & p {
        margin-bottom: 0;
    }
    &__icon {
        width: 50px;
        height: 50px;
    }
    &__datetime {
        text-align: left;
    }
    &__datetime {
        width: 80px;
        @include desktop {
            width: initial;
        }
    }
    @include desktop {
        width: 80%;
    }
    @include laptop {
        width: 70%;
    }
    @include tablet {
        width: 90%;
    }
    @include mobile {
        width: 100%;
        overflow-x: auto;
    }
}
.city-weather-details:last-child {
    border: none;
}

.temperature, .humidity, .pressure, .description, .wind-speed, .wind-deg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 75px;
    width: 90px;
    white-space: nowrap;
    &__name {
        color: rgb(20, 132, 223);
    }
}
.description {
    width: 105px;
}
.wind-deg__value {
    font-size: 18px;
}