.search-form__input {
    background-color: white;
    border: none;
    border-bottom: 1px solid #4A6572;
    width: 100%;
    height: 40px;
    padding: 14px;
    font-family: inherit;
    font-size: 1em;
    color: #4A6572;
    outline: none;
    transition: all 0.15s linear;
    &:hover, &:focus {
        border: 2px solid #F9AA33;
    }
}