.navbar {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: initial;
    &-brand {
        height: 50px;
        padding: 5px;
    }
    
}
.header {
    &__text-logo {
        margin-bottom: 0;
        margin-right: 10px;
    }
}