.suggestion {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    font-family: inherit;
    font-size: 0.9em;
    color: black;
    border-top: 1px solid black;
    &__city {
        width: 70%;
        height: 100%;
        background-color: white;
        border: none;
        display: flex;
        justify-content: space-between;
        padding: 0 14px;
        transition: opacity 0.15s linear;
        &:hover {
            opacity: 0.6;
        }    
    }
    &__add-to-favorite {
        width: 15%;
        height: 100%;
        background-color: green;
        border: none;
        color: white;
        transition: opacity 0.15s linear;
        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }    
    }
    &__close {
        width: 15%;
        height: 100%;
        background-color: rgb(216,0,0);
        border: none;
        color: white;
        transition: opacity 0.15s linear;
        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }    
    }
    &__country {
        color: rgb(128,128,128);
    }
}
.fa-star, .fa-times {
    font-size: 1.5em;
}